body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
box-sizing: border-box;
    }

    .container {
      width: 300px;
      margin: 0 auto;
      padding: 10px;
      border: 1px solid #ccc;
    }

    .container h2 {
      text-align: center;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group input[type="password"] {
      width: 100%;
      padding: 7px;
      font-size: 16px;
    }

    .form-group button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }
    
    .container-fluid h1 {
        font-size: medium;
        font-family: 'Times New Roman', Times, serif;
        }
    .header{
      padding: 50px 15% 10px;
      color: #011d30;
  }
   .header h2{
    font-size: 30px;
    font-display: 45px;
    font-weight: 200;
   }
   /-----------------footer--------------/
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px ;
}
.footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px
}
.copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
  

  

  